<!DOCTYPE html>
<html lang="en">
    {% block scripts %}{% endblock %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}SmartStuff{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
        {% block extra_styles %}{% endblock %}
    </head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('home.index') }}" class="navbar-title">
            <h1>SmartStuff</h1>
        </a>
        <div class="nav-links">
            {% if 'user_id' in session %}
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('auth.register') }}">Register</a>
            {% endif %}
            <div class="dropdown">
                <button class="dropbtn">&#9776;</button>
                <div class="dropdown-content">
                    <!-- Add links to other pages here -->
                    <a href="{{ url_for('home.index') }}">Home</a>
                    <a href="#">Security Tips</a>
                    <a href="#">FAQ</a>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>