{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container_home">
    <h1>Welcome to SmartStuff</h1>
    <div class="dropdown">
        <button class="dropbtn">Select Option</button>
        <div class="dropdown-content">
            <form action="{{ url_for('home.scan_wifi') }}" method="post">
                <button type="submit" class="dropdown-item">Scan for Wi-Fi Networks</button>
            </form>
            <form action="{{ url_for('home.scan_network') }}" method="post">
                <button type="submit" class="dropdown-item">Scan Network for Smart Devices</button>
            </form>
        </div>
    </div>
    <div id="display-section">
        {% if networks %}
            <h2>Nearby Wi-Fi Networks</h2>
            <table>
                <thead>
                    <tr>
                        <th>SSID</th>
                        <th>BSSID</th>
                        <th>Signal Strength</th>
                        <th>Frequency</th>
                    </tr>
                </thead>
                <tbody>
                    {% for network in networks %}
                        <tr>
                            <td>{{ network.ssid }}</td>
                            <td>{{ network.bssid }}</td>
                            <td>{{ network.signal }}</td>
                            <td>{{ network.frequency }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if devices %}
            <h2>Smart Devices on Your Network</h2>
            <table>
                <thead>
                    <tr>
                        <th>IP Address</th>
                        <th>MAC Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for device in devices %}
                        <tr>
                            <td>{{ device.ip }}</td>
                            <td>{{ device.mac }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}